/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0bee3ce6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #0ea706b1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #00a02395;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}

form input, form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
